*{
    margin: 0; padding: 0; box-sizing: border-box;
}

body{
    font-size: 28px;
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
}

// ATTRIBUTION
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }